@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-light">
    <div class="text-center" style="font-family:,; margin-top: 7rem;">
        <h1 class="display-1">Welcome</h1>
        <p style="font-size: 18px;">Cryptocurrency Payment Integration with CoinPayment</p>
    </div>
    <div class="mt-5">
        <div class="row p-2">
            <div class="col-4">
                <div class="card bg-gradient" style="width: 25rem; border-top: 3px solid #8726dd; background-color:#261463; min-height: 40vh;">
                    @* <img class="card-img-top p-3" src="~/images/blockchain-7.svg" style="width:38%;" alt="Card image cap"> *@
                    <img class="card-img-top p-3" src="~/images/cryptocurrency (1).png" style="width:38%;" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text" style="font-family:,; font-size: 17px;">
                            Cryptocurrency is a form of digital asset based on a network that is distributed across a large number of computers.
                            This decentralized structure allows them to exist outside the control of governments and central authorities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-gradient" style="width: 25rem; border-top: 3px solid #8726dd; background-color:#261463; min-height: 40vh;">
                    <img class="card-img-top p-3" src="~/images/litecoin-2210.svg" style="width:35%;" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text" style="font-family:,; font-size: 17px;">
                            The Litecoin blockchain is the largest global scrypt based network, operating with 100% uptime since 2011 securing and tracasting billions of dollars of value.We support web, desktop as well as mobile wallets for payments using a reliable platform - CoinPayments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-gradient" style="width: 25rem; border-top: 3px solid #8726dd; background-color:#261463; min-height: 40vh;">
                    <img class="card-img-top p-3" src="~/images/1631307587319.jpg" style="width:37%;" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text" style="font-family:,; font-size: 17px;">
                            This can be integrated in Speedpay in future to provide an added method of payment which is futuristic and coming of the age.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <a class="btn rounded-pill text-dark box-shadow"
           style="font-family:, ; font-size:18px; font-weight:bold; background-color:#ffbf3f"
           asp-area=""
           asp-controller="CoinPayments"
           asp-action="Index">
            Try Payment
        </a>
    </div>
</div>
