@{
    Layout = "_Layout";
}
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="CoinPayments" asp-action="Index">Coin Payments</a></li>
</ul>  