@{
    Layout = "_Layout";
}
<div class="topnav">
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    <a asp-area="" asp-controller="CoinPayments" asp-action="Index">Crypto Payments</a>
</div> 